// 全局变量样式

// 主页左侧侧边栏
// 侧边栏背景色
$base-menu-background-color: #001529;
// 暗黑模式下侧边栏背景色
$dark-base-menu-dark-background-color: #32d9d5;
// logo 组件的高度
$base-menu-logo-height: 50px;
// 系统名称的字体大小
$base-logo-title-fontSize: 30px;

// 菜单栏折叠后的宽度
$fold-menu-width: 4%;

// 导航区 和 内容区 折叠后的共有属性
%fold-common {
  width: 96%;
  left: 4%;
}

